/* Article */

article {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .center {
    text-align: center;
}

.article-title {
    font: 22px Lobster;
    color: #541b21;
    text-align: center;
}

.article-content {
    font: 18px Roboto;
    color: #000000;
    text-align: justify;
}

.article-content p {
    text-indent: 15px;
    width: 100%;
}

.article-list {
    font-size: 18px;
    color: #000b92;
    align-self: center;
}

.article-list:nth-of-type(odd) {
    color: #a53500;
}

.article-gradient {
    background: -webkit-linear-gradient(to right, #f9060c, #f98e1b, #f9f61b, #1bf930, #1bd7f9, #301bf9, #f91be2);
    background: linear-gradient(to right, #f9060c, #f98e1b, #f9f61b, #1bf930, #1bd7f9, #301bf9, #f91be2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 7px;
}

.content .pagination {
    width: 100%;
    display: flex;
}

.content .pagination li {
    list-style-type: none;
    font-size: 18px;
    margin: 0 10px;
}

