@media screen and (max-width: 768px) {
    .block-wrapper .link-text {
        font-size: 16px;
    }

    .article-title {
        font-size: 18px;
    }

    .article-content {
        font-size: 16px;
    }

    .home_article {
        font-size: 22px;
    }

    .block-wrapper .link-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 30px;
    }

    .description {
        font-size: 26px;
    }

    .arrow-block .caption {
        font-size: 18px;
    }

    .title-2 {
        font-size: 22px;
    }
    .nav-block .block-wrapper {
        width: 40%;
        padding: 45px 5px 10px 5px;
    }

    .note {
        font-size: 23px;
    }

    .menu {
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100vh;
        z-index: 13;
        flex-direction: column;
        padding-top: 20px;
        transition: transform 0.3s;
    }

    .menu.open {
        transform: translate(0, 0);
    }

    .menu.close {
        transform: translate(-100%, 0);
    }

    .menu .nav-buttons {
        display: inline-block;
    }

    .menu-item {
        font-size: 16px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width: 425px) {
    .block-wrapper .link-text {
        font-size: 12px;
    }
    .note {
        font-size: 20px;
    }

    .home_article {
        font-size: 18px;
    }
}
